<h1>
  {{ title }}
</h1>

<div class="error" style="color: red; font-weight: bold;" *ngIf="error">Error: {{ this.error }}</div>

<br>
Type in amount and select currency:<br/><br/>
  <div class="row">
    <div class="col">
      <input id="from-amount" class="form-control" type="number" [(ngModel)]="fromAmount" (ngModelChange)='calculate(false)' myCurrencyFormatter>
    </div>
    <div class="col">
      <select class="form-control" id="fromCurrency" [(ngModel)]="fromCurrency" (ngModelChange)="convert(false, false)">
        <option *ngFor="let rate of rates" [value]="rate.id">{{ rate.id }}</option>
    </select>
    </div>
  </div><br/><br/><br/><br/>Converted Amount:<br/><br/><div class="row">
    <div class="col">
      <input id="to-amount" class="form-control" [disabled]="true" type="number" [(ngModel)]="toAmount" (ngModelChange)="calculate(true)">
    </div>
    <div class="col">
      <select id="toCurrency"  class="form-control" [(ngModel)]="toCurrency" (ngModelChange)="calculate(true)">
        <option *ngFor="let rate of rates" [value]="rate.id">{{ rate.id }}</option>
    </select>
    </div>
  </div>

